@import '~bootstrap/scss/bootstrap';

.App {
	text-align: center;
}

nav {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	min-height: 10vh;
	background: black;
	color: white;
	z-index: 10;
}

.mainPage {
	position: absolute;
	top: 10vh;
	width: 100%;
	z-index: 0;
}

.navRouter {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	text-decoration: none;
	margin: 0;
}

.navRouterLink {
	color: white;
	text-decoration: none;
}

label {
	text-align: left;
	display: block;
	margin: 0.5rem 0rem 0.5rem 0rem;
}

.sectionHolder {
	background: black;
	border-radius: 1vh;
	margin: 2%;
	height: 30vh;
}
.indSection {
	background: white;
	height: 12vh;
	margin: 4%;
	border-radius: 5%;
}

.iconStyle {
	height: 100%;
}

.sectionContent {
	background: black;
	color: white;
	border-radius: 1vh;
	margin: 2%;
	height: 75vh;
}
.sectionHeader {
	margin: 4%;
}
.halfInput {
	margin: 0% 4% 0% 4%;
}
.checkBoxHolder {
	margin: 4%;
}

.form-group {
	// padding: 5%;
}

.react-datepicker-wrapper {
	display: block !important;
}

.buttonDiv {
	display: flex;
	justify-content: flex-end;
	margin: 4%;
}

.btn {
	margin: 0.5rem 0rem 0.5rem 0rem;
}

.skillHolder {
	text-align: left;
}
.skillInput {
	padding: 1%;
}
.skillInputView {
	display: none;
}
.skillClass {
	display: inline-flex;
	position: relative;
	min-width: 10vh;
	justify-content: space-around;
	margin: 1% 1% 0% 1%;
	padding: 1%;
	background: white;
	color: black;
	border-radius: 5vh;
}
.closeButton {
	height: 3vh;
	width: 3vh;
	background: white;
	color: black;
	border-radius: 50%;
	text-align: center;
}

div.ReactTags__suggestions {
	position: absolute;
}
div.ReactTags__suggestions ul {
	list-style-type: none;
	box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
	background: white;
	color: black;
	width: 100%;
}
div.ReactTags__suggestions li {
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding: 5px 10px;
	margin: 0;
}
div.ReactTags__suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
	background: #b7cfe0;
	width: 100%;
	cursor: pointer;
}
